body {
  font-family: Verdana, sans-serif;
  margin: 0;
}


* {
  box-sizing: border-box;
}

.content img{
  cursor: pointer;
  box-shadow: 0 3px 4px 0 wheat;
  color: hotpink;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(255, 105, 180, 1.2), 0 6px 20px 0 rgba(255, 105, 180, 1.19);
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: dodgerblue;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: wait;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.column{
  padding: 10px 8px;
  float: left;
  width: 33.33%; 
}
.column:after {
    content: "";
    display: table;
    clear: both;
}
.content img{
width: auto;
height: 100px;
border-radius: 12px;
}
.imgcaption{
  text-align: center;
  font: bold italic 0.9em Georgia;
  background-color:#dddd;
  text-shadow: 0 9px 2px 0 red;  
  
}
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: wheat;
  }
  
  .modal-img{
      height: 300px;
      border-radius: 31px;
      padding: 4px;
      background-color: rgba(0, 0, 0, .8);

    }

  .numbertext{
    color: black;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .column{
    padding: 10px 8px;
    float: left;
    width: 25%;
  }
  .column:after {
    content: "";
    display: table;
    clear: both;
  }
  .content img{
    width: 250px;
    height: 250px;
    border-radius: 12px;
  }
  .imgcaption{
    text-align: center;
    font: bold italic 0.9em Georgia;
    background-color:#dddd;
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: wheat;
  }
    
  .modal-img{
    height: 700px;
    width: 650px;
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;

  }
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .column{
    padding: 10px 8px;
    float: left;
    width: 25%;
  }
  .column:after {
    content: "";
    display: table;
    clear: both;
  }
  .content img{
    width: 250px;
    height: 250px;
    border-radius: 12px;
  }
  .imgcaption{
    text-align: center;
    font: bold italic 0.9em Georgia;
    background-color:#dddd;
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: hotpink;
  }
    
  .modal-img{
    height: 500px;
    width: 650px;
    max-width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;

  }
}
 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .column{
    padding: 10px 8px;
    float: left;
    width: 25%;
  }
  .column:after {
      content: "";
      display: table;
      clear: both;
  }
  .content img{
  width: 250px;
  height: 250px;
  border-radius: 12px;
  }
  .imgcaption{
    text-align: center;
    font: bold italic 0.9em Georgia;
    background-color:#dddd;
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: hotpink;
  }
    
  .modal-img{
    height: 500px;
    /* width: 300px; */
    padding: 23px;
    border-radius: 12px;
    width: 650px;
    max-width: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }    
}
  

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .column{
    padding: 10px 8px;
    float: left;
    width: 25%;
  }
  .column:after {
    content: "";
    display: table;
    clear: both;
  }
  .content img{
    width: 250px;
    height: 250px;
    border-radius: 12px;
  }
  .imgcaption{
    text-align: center;
    font: bold italic 0.9em Georgia;
    background-color:#dddd;
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: wheat;
    align-items: center;
  }
    
  .modal-img{
    width: 650px;
    height:600px;
    max-width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 31px;
    top:0;
    padding-bottom: 11%;
  }
}
