.container-foot{
    box-shadow: 12px;
    /*box-sizing: border-box;*/
    /*background-color:hotpink;*/
    overflow: hidden;
    /*box-shadow: -1px -8px 3px 3px black;*/
    font-family: Times, 'Times New Roman', serif;

}
