  * {box-sizing: border-box;}

.header {
  overflow: hidden;
  background-color: #ff69b4;
  padding: 20px 10px;
  left: 0;
  top:0;
  position: fixed;
  width:100%;
  /* I want a sticky navbar and footer but i do not want it to be overlayed by the images/ contents when scrolling */
  z-index:99;
  /* next from here is the home page(index)image, i am going to shift it downs*/
}

.header:after{
  content: "";
  clear: both;
  
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.header a.logo {
  font-size: 25px;
  /* font-weight: bold; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.header a:hover {
  background-color: pink;
  color: black;
}

.header a.active {
  background-color: pink;
  color: white;
}

.nav-right {
  float: right;
}
.nav-right .icon {
    display: none;
}
@media screen and (max-width: 700px) {
  .nav-right a{ /*a:not(:first-child) to display Home after disapearing*/
    display: none;
    clear: both;
  }
  .nav-right a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .nav-right.responsive {position: relative;}
  .nav-right.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-right.responsive a {
    margin-top:4px;
    float: none;
    display: flex;
    text-align: left;
  }
  .nav-right.responsive  {float: none;}
  .nav-right.responsive  {position: relative;}
  .nav-right.responsive  {
    display: block;
    width: 100%;
    text-align: left;
  }
}