{% extends 'base.html' %}
{% load static %}
{% block title %} G.F. Cakes {% endblock %}
{% block extra %}<link rel="stylesheet" href="{% static 'css/cakes.css' %}">{% endblock %}
{% block extras %}<link rel="stylesheet" href="{% static 'css/update.css' %}">{% endblock %}
{% block content %}
{% include 'nav.html' %}
<script src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" language="javascript">
  $(document).ready(function(){

    $('.images').on('click', function( event ){
      alert('Contact Us to Place Order Now!!!')
    });
  });



</script>
<h3 style="text-align: center; display: none; color:white; word-spacing:3px; background-color:black; font-style:italic; overflow:hidden; ">
  Site under production <br /> at <br /> Walk-In Tech &copy; 2016</h3>
  <span class="current">
    Page {{ post_list.number }} of {{ post_list.paginator.num_pages }}.
  </span>    
  <div class="stroll_btn">
{% if post_list.has_other_pages %}  
    <nav aria-label="Page navigation conatiner"></nav> 
      {% if post_list.has_previous %}    
        <a href="?page={{ post_list.previous_page_number }}" class="prev_btn">&laquo;Prev</a>
      {% endif %}
 
      {% if post_list.has_next %}    
      <a href="?page={{ post_list.next_page_number }}" class="next_btn">&raquo;Next</a>
      {% endif %}
{% endif %} 
</div>
{% for post_list in post_list %}
  <div class="main">
    <div class="row">
      <div class="column">
        <div class="content">
          <div class="images">

            <!-- fix this later, check the onclick -->
          <img class="images" src="{{post_list.cake_image.url}}" onclik="openModal();currentSlide({{post_list.pk}}{{forloop.counter0}})" class="hover-shadow cursor" style="width:100%">


          </div>    
          <div class="imgcaption">
            <h3>{{post_list.cake_name}}</h3>
          </div>
        </div>
      </div>
    </div>
  {% endfor%}
  {% for post_list in post_list %}
    <div id="myModal" class="modal">
      <span class="close cursor" onclick="closeModal()">&times;</span>
      <div class="modal-content">
        <div class="mySlides">
          <div class="numbertext">1 / 4</div>
          <br /><p>{{post_list.cake_name}}</p>

          <img src="{{post_list.cake_image.url}}" class="modal-img" style="width:100%">
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
        <div class="caption-container">
          <p id="caption"></p>
        </div>
      </div>
    </div>  
  
</div>
{% endfor %}
    

{% include 'foot.html' %}
{% endblock %}