{% extends 'base.html' %}
{% block title %} Contact Us{% endblock %}
{% block content %}
{% include 'nav.html' %}

<div class="container">
    <div>
        <h3 class="contact_head" style="color: dodgerblue; text-align:center; font-size:5vw;">
            CLICK ON ANY OF THE LINK BELOW TO CONNNECT WITH THE CHEF FOR ORDER OR ENQUIRIES
        </h3>
    </div>
    <div id="container">
        <p>
            <a href="https://www.instagram.com/" style="color:dodgerblue; text-decoration:none;"> 
                 For Instagram
            </a> 
        </p>

        <p>
            <a href="https://www.facebook.com/" style="color:dodgerblue; text-decoration:none;">
                 For Facebook
            </a> 
        </p>
        <p>
            <a href="https://wa.me/08039114799?text=Hi%20I%20Love%20Your%20Cakes%20I%20Want%20Make%20an%20Order!!!" 
            style="color:dodgerblue; text-decoration:none;">
                 For Whatapp: 
            </a> 
        </p>

    </div>

</div>

{% include 'foot.html' %}

{% endblock %}