<ul>
    <li>
        <a href="{% url 'index' %}" target="_blank" rel="noopener noreferrer">Home</a>
    </li>
    <li>
        <a href="{% url 'lake' %}" target="_blank" rel="noopener noreferrer">Bootstrap Version</a>
    </li>
    <li>
        <a href="{% url 'cakes' %}" target="_blank" rel="noopener noreferrer">Css Float Version</a>
    </li>
    <li>
        <a href="{% url 'contact' %}" target="_blank" rel="noopener noreferrer">Contact Us</a>
    </li>
    <li>
        <a href="{% url 'about' %}" target="_blank" rel="noopener noreferrer">About Us</a>
    </li>
    <li>
        <a href="{% url 'store' %}" target="_blank" rel="noopener noreferrer">Our Store</a>
    </li>
</ul>
