<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Django - Photo Gallery</title>
        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/simplelightbox.min.css' %}">
        <!-- <link rel="stylesheet" href="{% static 'css/cakes.css' %}"> -->
        <!-- <link rel="stylesheet" href="{% static 'css/update.css' %}"> -->
        <!-- JAVASCRIPT -->
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> -->
        <script> window.jQuery || document.write('<script src="{% static 'js/jquery.js' %}"><\/script>')</script>
        <script type="text/javascript" src="{% static 'js/simple-lightbox.min.js' %}"></script>
    </head>
    <body>
	    
                {% block body %}{% endblock body %}
		    </div>
		</div>
        {% block extra_js %}{% endblock extra_js %}
    </body>
</html>